<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/vendor/css/bootstrap.min.css">
    {% block extra_css %}{% endblock %}
        <script src="/static/vendor/js/jquery-3.4.1.min.js"></script>
<!--    <script src="/static/js/jquery311.js"></script>-->
<!--    <script src="/static/js/popper-1.14.0.min.js"></script>-->
    <script src="/static/vendor/js/bootstrap.min.js"></script>
<!--    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>-->
    {% block extra_js %}{% endblock %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="container">
        <ul class="nav">
            {% if user | default("", true) %}
                <li class="nav-item">
                    <a class="nav-link" href="/me">Профіль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Аналітика</a>
                </li>
                <li class="nav-item">
                    <a href="/notifications" class="nav-link">Сповіщення</a>
                </li>
                <li class="nav-item">
                    <a href="/strategies" class="nav-link">Стратегії</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Вихід</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Вхід</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Реєстрація</a>
                </li>
            {% endif %}

        </ul>
    </div>
    <div class="container">
        {% if error | default("", true) %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}

        {% if success | default("", true) %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>