{% extends "base.html" %}

{% block title %}Зміна пароля{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
        <h1 class="text">Зміна пароля</h1>
        <form method="POST">
            <div class="form-group">
                <label>Поточний пароль</label>
                <input type="password" class="form-control" name="current_password" required>
            </div>
            <div class="form-group">
                <label>Новий пароль</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <div class="form-group">
                <label>Підтвердження пароля</label>
                <input type="password" class="form-control" name="password1" required>
            </div>
            <button type="submit" class="btn btn-primary">Змінити</button>
        </form>
    </div>
</div>
{% endblock %}