{% extends "base.html" %}

{% block title %}Головна{% endblock %}

{% block content %}
<div class="row">
    <h2 class="text">Вітаємо, {{ user.login }}!</h2>
</div>
<div class="row">
    <h3 class="text">Доступні для аналітики:</h3>
</div>
    {% for pair, pair_conf in conf.items() %}
<!--        <div class="row">-->
            <p class="text">{{ pair }}:</p>
<!--        </div>-->
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="list-group">
                    {% for market in pair_conf %}
                    <a href="/{{ pair | replace('/', '-') }}/{{ market | lower }}"
                       class="list-group-item list-group-item-action">{{ market | lower}}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}