{% extends "base.html" %}

{% block title %}Вхід{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
        <h1 class="text">Увійти</h1>
        <form method="POST">
            <div class="form-group">
                <label>Юзернейм</label>
                <input type="text" class="form-control" name="login" required>
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Увійти</button>
        </form>
    </div>
</div>
{% endblock %}
