{% extends "base.html" %}

{% block title %}Мій кабінет {{ user.login }}{% endblock %}

{% block content %}
    {% if user.telegram_id %}
        <div class="row">
            <p class="tex">Telegram ID: {{ user.telegram_id }}</p>
        </div>
    {% else %}
        <div class="row">
            <p class="text">Надішліть в Телеграмі боту @steeee_bot повідмлення {{ user._id}} щоб привязати аккаунт.</p>
        </div>
    {% endif %}

    <div class="row">
        <p class="text"><a href="/change_password">Змінити пароль</a></p>
    </div>
{% endblock %}