{% extends "base.html" %}

{% block title %}Сповіщення{% endblock %}

{% block extra_js %}
<script>
    function unsubscribe(subscrId) {
        console.log("Unsubscribe " + subscrId);
        $.post("/notifications/" + subscrId + "/delete", function(data) {
            window.location.href = "/notifications";
        });
    }
</script>
{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="text">Сповіщення</h1>
    </div>

    {% if notifications %}
        <div class="row">
            <div class="container">
                    {% for notif in notifications %}
                        <div class="row">
                            <p class="text">{{ notif['key'] }} <a href="#" onclick="unsubscribe('{{ notif["_id"] }}')">Відписатися</a></p>
                        </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <h4 class="text">Немає активних сповіщень.</h4>
        </div>
    {% endif %}

    <div class="row" id="subscribe-forms-container">
        <div class="col-xs-12">
            <div class="accordion" id="forms_accordion" style="width: 100%">
                <div class="card">
                    <!-- hack -->
                    <div class="row">
                        <div class="col-xs-12"></div>
                    </div>
                    <div class="card-header" id="heading_bb">
                        <h2 class="mb-0" style="width: 100%">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_bb" aria-expanded="true" aria-controls="collapse_bb">
                                Полоси Боллінджерa
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_bb" class="collapse" aria-labelledby="heading_bb" data-parent="#forms_accordion">
                        <div class="card-body">
                            <form id="bb_form" method="post">
                                <input type="hidden" name="channel" value="bollingerbands">
                                <label for="bb_pair">Пара</label>
                                <select class="form-control" name="pair" id="bb_pair" required>
                                    {% for pair in pairs %}
                                        <option>{{ pair }} </option>
                                    {% endfor %}
                                </select>
                                <label for="bb_market">Маркет</label>
                                <select class="form-control" name="market" id="bb_market" required>
                                    {% for market in markets %}
                                        <option>{{ market }} </option>
                                    {% endfor %}
                                </select>
                                <label for="bb_timeframe">Таймфрейм</label>
                                <select class="form-control" name="timeframe" id="bb_timeframe" required>
                                    {% for tf in timeframes %}
                                        <option>{{ tf }} </option>
                                    {% endfor %}
                                </select>
                                <div class="form-group">
                                    <label for="bb_period">Період</label>
                                    <input type="number" class="form-control" name="period" id="bb_period" value="5" placeholder="Період" required>
                                </div>
                                <div class="form-group">
                                    <label for="bb_multiplier">Множник</label>
                                    <input type="number" class="form-control" name="multiplier" id="bb_multiplier" value="1" placeholder="Множник" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Підписатися</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading_stoch">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_stoch" aria-expanded="true" aria-controls="collapse_stoch">
                                Стохастик
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_stoch" class="collapse" aria-labelledby="heading_stoch" data-parent="#forms_accordion">
                        <div class="card-body">
                            <form id="stoch_form" method="post">
                                <input type="hidden" name="channel" value="stochastic">
                                <label for="stoch_pair">Пара</label>
                                <select class="form-control" name="pair" id="stoch_pair" required>
                                    {% for pair in pairs %}
                                        <option>{{ pair }} </option>
                                    {% endfor %}
                                </select>
                                <label for="stoch_market">Маркет</label>
                                <select class="form-control" name="market" id="stoch_market" required>
                                    {% for market in markets %}
                                        <option>{{ market }} </option>
                                    {% endfor %}
                                </select>
                                <label for="stoch_timeframe">Тaймрейм</label>
                                <select class="form-control" name="timeframe" id="stoch_timeframe" required>
                                    {% for tf in timeframes %}
                                        <option>{{ tf }} </option>
                                    {% endfor %}
                                </select>
                                <div class="form-group">
                                    <label for="stoch_period">Період</label>
                                    <input type="number" class="form-control" name="period" id="stoch_period" value="5" placeholder="Період" required>
                                </div>
                                <div class="form-group">
                                    <label for="stoch_zone_delta">Границя зони</label>
                                    <input type="number" class="form-control" name="zone_delta" id="stoch_zone_delta" value="20" placeholder="Грaниця зони" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Підписатися</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading_sma">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_sma" aria-expanded="true" aria-controls="collapse_sma">
                                Просте рухоме середнє
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_sma" class="collapse" aria-labelledby="heading_sma" data-parent="#forms_accordion">
                        <div class="card-body">
                            <form id="sma_form" method="post">
                                <input type="hidden" name="channel" value="sma">
                                <label for="sma_pair">Пара</label>
                                <select class="form-control" name="pair" id="sma_pair" required>
                                    {% for pair in pairs %}
                                        <option>{{ pair }} </option>
                                    {% endfor %}
                                </select>
                                <label for="stoch_market">Маркет</label>
                                <select class="form-control" name="market" id="sma_market" required>
                                    {% for market in markets %}
                                        <option>{{ market }} </option>
                                    {% endfor %}
                                </select>
                                <label for="sma_timeframe">Тaймрейм</label>
                                <select class="form-control" name="timeframe" id="sma_timeframe" required>
                                    {% for tf in timeframes %}
                                        <option>{{ tf }} </option>
                                    {% endfor %}
                                </select>
                                <div class="form-group">
                                    <label for="sma_period1">Період 1</label>
                                    <input type="number" class="form-control" name="period1" id="sma_period1" value="13" placeholder="Період 1" required>
                                </div>
                                <div class="form-group">
                                    <label for="sma_period2">Період 2</label>
                                    <input type="number" class="form-control" name="period2" id="sma_period2" value="21" placeholder="Період 2" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Підписатися</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading_rsi">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_rsi" aria-expanded="true" aria-controls="collapse_rsi">
                                Індекс відносної сили
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_rsi" class="collapse" aria-labelledby="heading_rsi" data-parent="#forms_accordion">
                        <div class="card-body">
                            <form id="rsi_form" method="post">
                                <input type="hidden" name="channel" value="rsi">
                                <label for="rsi_pair">Пара</label>
                                <select class="form-control" name="pair" id="rsi_pair" required>
                                    {% for pair in pairs %}
                                        <option>{{ pair }} </option>
                                    {% endfor %}
                                </select>
                                <label for="rsi_market">Маркет</label>
                                <select class="form-control" name="market" id="rsi_market" required>
                                    {% for market in markets %}
                                        <option>{{ market }} </option>
                                    {% endfor %}
                                </select>
                                <label for="rsi_timeframe">Тaймрейм</label>
                                <select class="form-control" name="timeframe" id="rsi_timeframe" required>
                                    {% for tf in timeframes %}
                                        <option>{{ tf }} </option>
                                    {% endfor %}
                                </select>
                                <div class="form-group">
                                    <label for="rsi_period">Період</label>
                                    <input type="number" class="form-control" name="period" id="rsi_period" value="14" placeholder="Період" required>
                                </div>
                                <div class="form-group">
                                    <label for="rsi_zone_delta">Границя зони</label>
                                    <input type="number" class="form-control" name="zone_delta" id="rsi_zone_delta" value="20" placeholder="Грaниця зони" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Підписатися</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}