{% extends "base.html" %}

{% block title %}OHLCV {{ pair }} {{ market }}{% endblock %}

{% block extra_js %}

{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="text">OHLCV {{ pair }} {{ market }}</h1>
    </div>


    <div class="row">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            Ts
                        </th>
                        <th scope="col">
                            Open
                        </th>
                        <th scope="col">
                            High
                        </th>
                        <th scope="col">
                            Low
                        </th>
                        <th scope="col">
                            Close
                        </th>
                        <th scope="col">
                            Volume
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for candle in candles %}
                        <tr>
                            <th scope="row">{{ candle.humanized_timestamp() }}</th>
                            <td>{{ candle.o }}</td>
                            <td>{{ candle.h }}</td>
                            <td>{{ candle.l }}</td>
                            <td>{{ candle.c }}</td>
                            <td>{{ candle.v }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <h2 class="text">Ордери</h2>
    </div>

{% endblock %}