{% extends "base.html" %}

{% block extra_js %}
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script>
    var pair = "{{ pair }}",
        market = "{{ market | lower }}",
        pPair = "{{ pair | replace("/", "") }}";

    $(document).ready(function() {
        new TradingView.widget(
        {
            "height": "400",
            "width": "900",
            "symbol": "{{ market | upper }}:" + pPair,
            "interval": "15",
            "timezone": "Etc/UTC",
            "theme": "Light",
            "style": "1",
            "locale": "ru",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "allow_symbol_change": true,
            "container_id": "tradingview_dd466"
        }
    );

    });
</script>
<script src="/static/js/ws_conn.js"></script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{% block title %}{{ pair }} {{ market }}{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="text">Аналітика {{ pair }} {{ market }}</h1>
    </div>

    <div class="container">
        <div class="row" style="width: 100%; height: 400px">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
                <div id="tradingview_dd466"></div>
                <div class="tradingview-widget-copyright"><a href="https://ru.tradingview.com/symbols/{{ market | upper }}-{{ pair | replace('/', '')}}/" rel="noopener" target="_blank"><span class="blue-text">График</span> <span class="blue-text">BTCUSD</span> предоставлен TradingView</a></div>
            </div>
        <!-- TradingView Widget END -->
        </div>
    </div>

    <div class="row" id="signals-container">
<!--        <div class="col-md-4 signal card" id="sigkey">-->
<!--            <div class="card-body">-->
<!--                <h3 class="text">sma tra-ta-ta</h3>-->
<!--                <p class="text field1">field1: field1_value</p>-->
<!--                <p class="text field2">field2: field2_value</p>-->
<!--                <p class="text field3">field3: field3_value</p>-->
<!--                <p class="text field4">field4: field4_value</p>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="row" id="subscribe-forms-container">
        <div class="col-xs-12">
            <div class="accordion" id="forms_accordion" style="width: 100%">
                <div class="card">
                    <!-- hack -->
                    <div class="row">
                        <div class="col-xs-12"></div>
                    </div>
                    <div class="card-header" id="heading_bb">
                        <h2 class="mb-0" style="width: 100%">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_bb" aria-expanded="true" aria-controls="collapse_bb">
                                Полоси Боллінджерa
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_bb" class="collapse" aria-labelledby="heading_bb" data-parent="#forms_accordion">
                        <div class="card-body">
                            <form id="bb_form">
                                <label for="bb_timeframe">Таймфрейм</label>
                                <select class="form-control" name="timeframe" id="bb_timeframe" required>
                                    {% for tf in timeframes %}
                                        <option>{{ tf }} </option>
                                    {% endfor %}
                                </select>
                                <div class="form-group">
                                    <label for="bb_period">Період</label>
                                    <input type="number" class="form-control" name="period" id="bb_period" value="5" placeholder="Період" required>
                                </div>
                                <div class="form-group">
                                    <label for="bb_multiplier">Множник</label>
                                    <input type="number" class="form-control" name="multiplier" id="bb_multiplier" value="1" placeholder="Множник" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Підписатися</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading_stoch">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_stoch" aria-expanded="true" aria-controls="collapse_stoch">
                                Стохастик
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_stoch" class="collapse" aria-labelledby="heading_stoch" data-parent="#forms_accordion">
                        <div class="card-body">
                            <form id="stoch_form">
                                <label for="stoch_timeframe">Тaймрейм</label>
                                <select class="form-control" name="timeframe" id="stoch_timeframe" required>
                                    {% for tf in timeframes %}
                                        <option>{{ tf }} </option>
                                    {% endfor %}
                                </select>
                                <div class="form-group">
                                    <label for="stoch_period">Період</label>
                                    <input type="number" class="form-control" name="period" id="stoch_period" value="5" placeholder="Період" required>
                                </div>
                                <div class="form-group">
                                    <label for="stoch_zone_delta">Границя зони</label>
                                    <input type="number" class="form-control" name="zone_delta" id="stoch_zone_delta" value="20" placeholder="Грaниця зони" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Підписатися</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading_sma">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_sma" aria-expanded="true" aria-controls="collapse_sma">
                                Просте рухоме середнє
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_sma" class="collapse" aria-labelledby="heading_sma" data-parent="#forms_accordion">
                        <div class="card-body">
                            <form id="sma_form">
                                <label for="sma_timeframe">Тaймрейм</label>
                                <select class="form-control" name="timeframe" id="sma_timeframe" required>
                                    {% for tf in timeframes %}
                                        <option>{{ tf }} </option>
                                    {% endfor %}
                                </select>
                                <div class="form-group">
                                    <label for="sma_period1">Період 1</label>
                                    <input type="number" class="form-control" name="period1" id="sma_period1" value="13" placeholder="Період 1" required>
                                </div>
                                <div class="form-group">
                                    <label for="sma_period2">Період 2</label>
                                    <input type="number" class="form-control" name="period2" id="sma_period2" value="21" placeholder="Період 2" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Підписатися</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading_rsi">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_rsi" aria-expanded="true" aria-controls="collapse_rsi">
                                Індекс відносної сили
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_rsi" class="collapse" aria-labelledby="heading_rsi" data-parent="#forms_accordion">
                        <div class="card-body">
                            <form id="rsi_form">
                                <label for="rsi_timeframe">Тaймрейм</label>
                                <select class="form-control" name="timeframe" id="rsi_timeframe" required>
                                    {% for tf in timeframes %}
                                        <option>{{ tf }} </option>
                                    {% endfor %}
                                </select>
                                <div class="form-group">
                                    <label for="rsi_period">Період</label>
                                    <input type="number" class="form-control" name="period" id="rsi_period" value="14" placeholder="Період" required>
                                </div>
                                <div class="form-group">
                                    <label for="rsi_zone_delta">Границя зони</label>
                                    <input type="number" class="form-control" name="zone_delta" id="rsi_zone_delta" value="20" placeholder="Грaниця зони" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Підписатися</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}