{% extends "base.html" %}

{% block title %}Реєстрація успішна{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
        <h1 class="text">Вітаємо, {{ login }}! Тепер Ви можете <a href="/login">увійти</a>.</h1>
    </div>
</div>
{% endblock %}