{% extends "base.html" %}

{% block title %}{{ strategy.name }}{% endblock %}

{% block extra_js %}

{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="text">Стратегія {{ strategy.name }}</h1>
    </div>


    <div class="row">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            Назва
                        </th>
                        <th scope="col">
                            Ключ
                        </th>
                        <th scope="col">
                            Відкривати при мягкому
                        </th>
                        <th scope="col">
                            Ззакривати при мягкому
                        </th>
                        <th scope="col">
                            Комісія (%)
                        </th>
                        <th scope="col">
                            Прибуток (S2)
                        </th>
                        <th scope="col">
                            Видалити
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{ strategy.name }}</th>
                        <td>{{ strategy.key }}</td>
                        <td>{{ strategy.open_on_soft }}</td>
                        <td>{{ strategy.close_on_soft }}</td>
                        <td>{{ strategy.fee }}</td>
                        <td><p class="text"><a href="/strategies/{{ strategy._id }}" >{{ strategy.profit_s2 }}</a></p></td>
                        <td><p class="text"><a href="#" onclick="unsubscribe('{{ strategy._id }}')">Відписатися</a></p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <h2 class="text">Ордери</h2>
    </div>

    {% if strategy.orders %}
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Час</th>
                        <th scope="col">Сторона</th>
                        <th scope="col">Ціна</th>
                        <th scope="col">Об'єм</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in strategy.orders %}
                        <tr>
                            <th scope="row">{{ order._id }}</th>
                            <td>{{ order.timestamp_hum }}</td>
                            <td>{{ order.op }}</td>
                            <td>{{ order.price }}</td>
                            <td>{{ order.amount }}</td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="row">
            <h2 class="text">Ще немає ордерів.</h2>
        </div>
    {% endif %}
{% endblock %}