{% extends "base.html" %}

{% block title %}Стратегії{% endblock %}

{% block extra_js %}
<script>
    function unsubscribe(subscrId) {
        console.log("Unsubscribe " + subscrId);
        $.post("/strategies/" + subscrId + "/delete", function(data) {
            window.location.href = "/strategies";
        });
    }
</script>
{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="text">Стратегії</h1>
    </div>

    {% if strategies %}
        <div class="row">
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                Назва
                            </th>
                            <th scope="col">
                                Ключ
                            </th>
                            <th scope="col">
                                Відкривати при мягкому
                            </th>
                            <th scope="col">
                                Ззакривати при мягкому
                            </th>
                            <th scope="col">
                                Комісія (%)
                            </th>
                            <th scope="col">
                                Прибуток (S2)
                            </th>
                            <th scope="col">
                                Видалити
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for strategy in strategies %}
                            <tr>
                                <th scope="row">{{ strategy.name }}</th>
                                <td>{{ strategy.key }}</td>
                                <td>{{ strategy.open_on_soft }}</td>
                                <td>{{ strategy.close_on_soft }}</td>
                                <td>{{ strategy.fee }}</td>
                                <td><p class="text"><a href="/strategies/{{ strategy._id }}/" >{{ strategy.profit_s2 }}</a></p></td>
                                <td><p class="text"><a href="#" onclick="unsubscribe('{{ strategy._id }}')">Відписатися</a></p></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="row">
            <h4 class="text">Немає активних стратегій.</h4>
        </div>
    {% endif %}

    <div class="row" id="subscribe-forms-container">
        <div class="col-xs-12">
            <div class="accordion" id="forms_accordion" style="width: 100%">
                <div class="card">
                    <!-- hack -->
                    <div class="row">
                        <div class="col-xs-12"></div>
                    </div>
                    <div class="card-header" id="heading_bb">
                        <h2 class="mb-0" style="width: 100%">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_bb" aria-expanded="true" aria-controls="collapse_bb">
                                Полоси Боллінджерa
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_bb" class="collapse" aria-labelledby="heading_bb" data-parent="#forms_accordion">
                        <div class="card-body">
                            <form id="bb_form" method="post">
                                <div class="form-group">
                                    <label for="bb_name">Назва</label>
                                    <input type="text" class="form-control" name="name" id="bb_name" placeholder="Назва" required>
                                </div>
                                <input type="hidden" name="channel" value="bollingerbands">
                                <label for="bb_pair">Пара</label>
                                <select class="form-control" name="pair" id="bb_pair" required>
                                    {% for pair in pairs %}
                                        <option>{{ pair }} </option>
                                    {% endfor %}
                                </select>
                                <label for="bb_market">Маркет</label>
                                <select class="form-control" name="market" id="bb_market" required>
                                    {% for market in markets %}
                                        <option>{{ market }} </option>
                                    {% endfor %}
                                </select>
                                <label for="bb_timeframe">Таймфрейм</label>
                                <select class="form-control" name="timeframe" id="bb_timeframe" required>
                                    {% for tf in timeframes %}
                                        <option>{{ tf }} </option>
                                    {% endfor %}
                                </select>
                                <div class="form-group">
                                    <label for="bb_period">Період</label>
                                    <input type="number" class="form-control" name="period" id="bb_period" value="5" placeholder="Період" required>
                                </div>
                                <div class="form-group">
                                    <label for="bb_multiplier">Множник</label>
                                    <input type="number" class="form-control" name="multiplier" id="bb_multiplier" value="1" placeholder="Множник" required>
                                </div>
                                <div class="form-group">
                                    <label for="bb_fee">Комісія (%)</label>
                                    <input type="number" step="0.01" min="0.0" class="form-control" name="fee" value="0.0" id="bb_fee">
                                </div>
                                <div class="form-group">
                                    <label for="bb_open_on_soft">Відкривати при мягкому сигналі</label>
                                    <input type="checkbox" class="form-control" name="open_on_soft" id="bb_open_on_soft" checked>
                                </div>
                                <div class="form-group">
                                    <label for="bb_close_on_soft">Закривати при мягкому сигналі</label>
                                    <input type="checkbox" class="form-control" name="close_on_soft" id="bb_close_on_soft" checked>
                                </div>
                                <button type="submit" class="btn btn-primary">Підписатися</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading_stoch">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_stoch" aria-expanded="true" aria-controls="collapse_stoch">
                                Стохастик
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_stoch" class="collapse" aria-labelledby="heading_stoch" data-parent="#forms_accordion">
                        <div class="card-body">
                            <form id="stoch_form" method="post">
                                <div class="form-group">
                                    <label for="stoch_name">Назва</label>
                                    <input type="text" class="form-control" name="name" id="stoch_name" placeholder="Назва" required>
                                </div>
                                <input type="hidden" name="channel" value="stochastic">
                                <label for="stoch_pair">Пара</label>
                                <select class="form-control" name="pair" id="stoch_pair" required>
                                    {% for pair in pairs %}
                                        <option>{{ pair }} </option>
                                    {% endfor %}
                                </select>
                                <label for="stoch_market">Маркет</label>
                                <select class="form-control" name="market" id="stoch_market" required>
                                    {% for market in markets %}
                                        <option>{{ market }} </option>
                                    {% endfor %}
                                </select>
                                <label for="stoch_timeframe">Тaймрейм</label>
                                <select class="form-control" name="timeframe" id="stoch_timeframe" required>
                                    {% for tf in timeframes %}
                                        <option>{{ tf }} </option>
                                    {% endfor %}
                                </select>
                                <div class="form-group">
                                    <label for="stoch_period">Період</label>
                                    <input type="number" class="form-control" name="period" id="stoch_period" value="5" placeholder="Період" required>
                                </div>
                                <div class="form-group">
                                    <label for="stoch_zone_delta">Границя зони</label>
                                    <input type="number" class="form-control" name="zone_delta" id="stoch_zone_delta" value="20" placeholder="Грaниця зони" required>
                                </div>
                                <div class="form-group">
                                    <label for="stoch_fee">Комісія (%)</label>
                                    <input type="number" step="0.01" min="0.0" class="form-control" name="fee" value="0.0" id="stoch_fee" required>
                                </div>
                                <div class="form-group">
                                    <label for="stoch_open_on_soft">Відкривати при мягкому сигналі</label>
                                    <input type="checkbox" class="form-control" name="open_on_soft" id="stoch_open_on_soft" checked>
                                </div>
                                <div class="form-group">
                                    <label for="stoch_close_on_soft">Закривати при мягкому сигналі</label>
                                    <input type="checkbox" class="form-control" name="close_on_soft" id="stoch_close_on_soft" checked>
                                </div>
                                <button type="submit" class="btn btn-primary">Підписатися</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading_sma">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_sma" aria-expanded="true" aria-controls="collapse_sma">
                                Просте рухоме середнє
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_sma" class="collapse" aria-labelledby="heading_sma" data-parent="#forms_accordion">
                        <div class="card-body">
                            <form id="sma_form" method="post">
                                <div class="form-group">
                                    <label for="sma_name">Назва</label>
                                    <input type="text" class="form-control" name="name" id="sma_name" placeholder="Назва" required>
                                </div>
                                <input type="hidden" name="channel" value="sma">
                                <label for="sma_pair">Пара</label>
                                <select class="form-control" name="pair" id="sma_pair" required>
                                    {% for pair in pairs %}
                                        <option>{{ pair }} </option>
                                    {% endfor %}
                                </select>
                                <label for="stoch_market">Маркет</label>
                                <select class="form-control" name="market" id="sma_market" required>
                                    {% for market in markets %}
                                        <option>{{ market }} </option>
                                    {% endfor %}
                                </select>
                                <label for="sma_timeframe">Тaймрейм</label>
                                <select class="form-control" name="timeframe" id="sma_timeframe" required>
                                    {% for tf in timeframes %}
                                        <option>{{ tf }} </option>
                                    {% endfor %}
                                </select>
                                <div class="form-group">
                                    <label for="sma_period1">Період 1</label>
                                    <input type="number" class="form-control" name="period1" id="sma_period1" value="13" placeholder="Період 1" required>
                                </div>
                                <div class="form-group">
                                    <label for="sma_period2">Період 2</label>
                                    <input type="number" class="form-control" name="period2" id="sma_period2" value="21" placeholder="Період 2" required>
                                </div>
                                <div class="form-group">
                                    <label for="sma_fee">Комісія (%)</label>
                                    <input type="number" step="0.01" min="0.0" class="form-control" name="fee" value="0.0" id="sma_fee" required>
                                </div>
                                <div class="form-group">
                                    <label for="sma_open_on_soft">Відкривати при мягкому сигналі</label>
                                    <input type="checkbox" class="form-control" name="open_on_soft" id="sma_open_on_soft" checked>
                                </div>
                                <div class="form-group">
                                    <label for="sma_close_on_soft">Закривати при мягкому сигналі</label>
                                    <input type="checkbox" class="form-control" name="close_on_soft" id="sma_close_on_soft" checked>
                                </div>
                                <button type="submit" class="btn btn-primary">Підписатися</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading_rsi">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_rsi" aria-expanded="true" aria-controls="collapse_rsi">
                                Індекс відносної сили
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_rsi" class="collapse" aria-labelledby="heading_rsi" data-parent="#forms_accordion">
                        <div class="card-body">
                            <form id="rsi_form" method="post">
                                <div class="form-group">
                                    <label for="rsi_name">Назва</label>
                                    <input type="text" class="form-control" name="name" id="rsi_name" placeholder="Назва" required>
                                </div>
                                <input type="hidden" name="channel" value="rsi">
                                <label for="rsi_pair">Пара</label>
                                <select class="form-control" name="pair" id="rsi_pair" required>
                                    {% for pair in pairs %}
                                        <option>{{ pair }} </option>
                                    {% endfor %}
                                </select>
                                <label for="rsi_market">Маркет</label>
                                <select class="form-control" name="market" id="rsi_market" required>
                                    {% for market in markets %}
                                        <option>{{ market }} </option>
                                    {% endfor %}
                                </select>
                                <label for="rsi_timeframe">Тaймрейм</label>
                                <select class="form-control" name="timeframe" id="rsi_timeframe" required>
                                    {% for tf in timeframes %}
                                        <option>{{ tf }} </option>
                                    {% endfor %}
                                </select>
                                <div class="form-group">
                                    <label for="rsi_period">Період</label>
                                    <input type="number" class="form-control" name="period" id="rsi_period" value="14" placeholder="Період" required>
                                </div>
                                <div class="form-group">
                                    <label for="rsi_zone_delta">Границя зони</label>
                                    <input type="number" class="form-control" name="zone_delta" id="rsi_zone_delta" value="20" placeholder="Грaниця зони" required>
                                </div>
                                <div class="form-group">
                                    <label for="rsi_fee">Комісія (%)</label>
                                    <input type="number" step="0.01" min="0.0" class="form-control" name="fee" value="0.0" id="rsi_fee">
                                </div>
                                <div class="form-group">
                                    <label for="rsi_open_on_soft">Відкривати при мягкому сигналі</label>
                                    <input type="checkbox" class="form-control" name="open_on_soft" id="rsi_open_on_soft" checked>
                                </div>
                                <div class="form-group">
                                    <label for="rsi_close_on_soft">Закривати при мягкому сигналі</label>
                                    <input type="checkbox" class="form-control" name="close_on_soft" id="rsi_close_on_soft" checked>
                                </div>
                                <button type="submit" class="btn btn-primary">Підписатися</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}